.container__carrossel-title {
  font-size: 1.8rem;
  text-align: center;
  color: var(--color-orange);
  font-weight: 700;
  line-height: 2.8rem;

  padding: 2rem 0 1rem;
  background: var(--color-white);
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  padding: 1.6rem 0;
}
